fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib
python-multipart
markdown
mammoth
requests
chromadb
scikit-learn
nltk
python-docx
PyPDF2
beautifulsoup4
sumy
langdetect
googletrans==4.0.0rc1
google-generativeai
google-cloud-aiplatform
